mixin map(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''
  - spec.attributes = spec.attributes || ''

  div.map(class=spec.__class)&attributes(spec.attributes)

    include ../../_images/amoy-street-food-centre/amoy-street-food-centre-01.svg
