extends _layouts/base

block config
  - var baseUrl = '/'

include _modules/list/list
include _modules/hawker-centre/hawker-centre

block content
  .container

    section.overlay-panel
      h1 Amoy Street Hawker Centre

      h2 Filter

      h3 Cuisine
        ul
          - cuisineTypes = ['Chinese', 'Malay', 'Western']
          - each item in cuisineTypes
            li
              a(href="#")=item

      h3 Dishes
        ul
          - dishTypes = ['Chicken Rice', 'Kway Teo', 'Carrot Cake', 'Hor Fun']
          - each item in dishTypes
            li
              a(href="#")=item

    section.full-screen-container
      +hawker-centre({'__class': 'amoy-street-food-centre', 'attributes': {'data-hawker': 'asfc'}})
