extends _layouts/base

block config
  - var baseUrl = '/'

include _modules/list/list
include _modules/hawker-centre/hawker-centre

block content
  .container

    | <script id="stall-list-template" type="text/template">
    li
      .id(data-id='')
        a.name(href='#')
        span &nbsp;#
          span.level
          span.shop
    | </script>


    section.overlay-panel
      h1 Amoy Street Hawker Centre

      h2 Filter

      #stall-list
        h3 Stalls
        ul.list


      #cuisine-list
        h3 Cuisine
        ul.list

      #dish-list
        h3 Dishes
        ul
          - dishTypes = ['Chicken Rice', 'Kway Teo', 'Carrot Cake', 'Hor Fun']
          - each item in dishTypes
            li
              a(href="#")=item

    section.full-screen-container
      +hawker-centre({'__class': 'amoy-street-food-centre', 'attributes': {'data-hawker': 'asfc'}})
